<div class="navbar-wrapper">
  <%= render 'layouts/header' %>
</div>
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag 'shookhills1-1.jpg', class: "img-responsive" %>
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>Shook Hills All Natural Beef</strong></h1>
            <p>Because what you feed your family IS important!</p>
            <p>Full flavored, succulent Iowa beef!</p>
            <br/><br/><br/><br/><br/><br/><br/>
            <p><%= link_to "Learn More", about_path, class: "btn btn-lg btn-primary" %></p>
          </p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'shookhillsslider2.jpg', class: "img-responsive" %>
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>Shook Hills All Natural Beef</strong></h1>
            <p>Because what you feed your family IS important!</p>
            <p>Full flavored, succulent Iowa beef!</p>
            <br/><br/><br/><br/><br/><br/><br/>
            <p><%= link_to "Learn More", about_path, class: "btn btn-lg btn-primary" %></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'shookhillsslider3.jpg', class: "img-responsive" %>
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>Shook Hills All Natural Beef</strong></h1>
            <p>Because what you feed your family IS important!</p>
            <p>Full flavored, succulent Iowa beef!</p>
            <br/><br/><br/><br/><br/><br/><br/>
            <p><%= link_to "Learn More", about_path, class: "btn btn-lg btn-primary" %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>  
  </div>
  <!-- /.carousel -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag 'shookhills1-rounded.jpg', class: "img-responsive img-circle" %>
        <h2>Why Tarentaise/Angus?</h2>
        <p>Tarentaise cattle originated in Spain and eventually worked their way into the United States...</p>
        <p><%= link_to "Read More! »", tarentaise_path, class: "btn btn-default" %></p>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag 'shookhillslogo.png', class: "img-responsive img-circle" %>
        <h2>Pricing</h2>
        <p>Save $1,800 off current store pricing!</p>
        <p><%= link_to "Read More! »", pricing_path, class: "btn btn-default" %></p>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag 'promise.png', class: "img-responsive img-circle" %>
        <h2>Our Promise</h2>
        <p>My personal promise to you is to deliver a clean, healthy, hormone/antibiotic free beef to you and your family...</p>
        <p><%= link_to "Read More! »", promise_path, class: "btn btn-default" %></a></p>
      </div>
    </div><!-- /.row -->

    <hr class="featurette-divider">
<%= image_tag 'iowabeef.png', class: "img-responsive" %>
<hr class="featurette-divider">
    <div class="featurette">
      <%= image_tag 'setapart2.jpg', class: "img-circle img-responsive" %>
      <h2 class="featurette-heading">Setting our beef <span class="text-muted">apart.</span></h2>
      <p class="lead">We sell only beef we raise here at Shook Hills.  No growth implants or growth stimulants.  No hormones.  No subtheraputic or topical antibiotics.  Our cattle graze on unlimited open pastures, and are supplemented with a vitamin, mineral, and corn diet.  Click <%= link_to "here", about_path %> for more information!</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <%= image_tag 'satisfactionguaranteed.jpg', class: "featurette-image img-responsive" %>
      <h2 class="featurette-heading">Product Goals.</h2>
      <p class="lead">
        <ol>
          <li><strong>Food safety: </strong>NO hormones and NO antibiotics</li>
          <p><%= link_to( image_tag("image005.jpg"), image_path( "antibioticres.jpg")) %></p>
          <p>Click to enlarge</p>
          <li><strong>Humane - </strong>better treatment of animals. Cattle are handled by ranchers on horseback. At Shook Hills we all work alongside each other to promote health and sustainability for people, our animals and the land.</li>
          <%= image_tag 'horse.jpg', class: "img-responsive" %>
          <li><strong>Environmental - </strong>better management of waste, protection of natural resources</li>
          <li><strong>Enhanced nutrients- </strong>increased conjugated linoleic acids, higher nutrient content</li>
          <li><strong>Social - </strong>grown locally and supporting our local economy by providing you with a premium product at an economical price</li>
        </ol>
      </p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <%= image_tag "beef-grill.jpg", class: "featurette-image img-circle pull-right img-responsive" %>
      <h2 class="featurette-heading">Full finished beef delivered to your locker</h2>
      <p class="lead"><strong>Whole all natural beef just $2 per pound!</strong> Please <%= link_to "contact us", contact_path %> for more information!</p>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
